body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 800px;
}

.sidebar {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.5em;
    grid-row: 1 / 3;
    padding: 20px;
    display: grid;
    align-content: start;
    gap: 20px;
}

/* .sidebar > div {
    border: 2px solid red;
} */

.modules ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 20px;
}

.options ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 20px;
}

.header {
    background-color: burlywood;
}

.main-content{
    background-color: blanchedalmond;
}